@import "tailwindcss";

@theme {

    /* Colors Branding */

    --color-brandBlue: #0098D9;  
    --color-brandPink: #EC2B78;  
    --color-brandPurple: #AE0066;  
    --color-brandGreen: #7BC50F;  
    --color-brandOrange: #FE9107;  
    --color-lightBorder: #C4CFE2;  
    --color-lightBg: #E5EBF5;
}